<div>

  <div class="button-wrapper">
    <button routerLink="calculate-price">Query Customer</button>
  </div>

  <div>
    <form>
      <div class="col-xs-1 text-center">
        <div
          style="border:1px; border-style:solid; border-spacing: 15px 50px; border-collapse: separate; border-color:#808080; padding: 1em;">
          <div class="input-wrapper">
            <label>id: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>name: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>href: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>status: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>type: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>statusReason: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>baseType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>schemaLocation: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
        </div>

        <div>
          <h4>Valid For</h4>
        </div>
        <!--validFor-->
        <div>
          <div class="input-wrapper">
            <label>primaryId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentEntity: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParent: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>startDateTime: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>endDateTime: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
        </div>

        <div>
          <h4>Engaged party</h4>
        </div>
        <!--        engagedParty-->
        <div>
          <div class="input-wrapper">
            <label>id: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>primaryId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentEntity: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParent: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>referredType: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>role: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>baseType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>type: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>name: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>href: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>schemaLocation: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
        </div>

        <div>
          <h4>Account</h4>
        </div>
        <!--account-->
        <div>
          <div class="input-wrapper">
            <label>id: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>primaryId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentEntity: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParent: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>referredType: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>baseType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>type: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>name: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>description: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>href: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>schemaLocation: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
        </div>

        <div>
          <h4>Payment Method</h4>
        </div>
        <!--        paymentMethod-->
        <div>
          <div class="input-wrapper">
            <label>id: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>primaryId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentEntity: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParent: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>referredType: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>baseType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>type: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>name: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>href: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>schemaLocation: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
        </div>

        <div>
          <h4>Characteristic</h4>
        </div>
        <!--        characteristic-->
        <div>
          <div class="input-wrapper">
            <label>id: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>primaryId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentEntity: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParent: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>baseType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>type: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>valueType: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>value: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>name: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>schemaLocation: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
        </div>

        <div>
          <h4>Related Party</h4>
        </div>
        <!--relatedParty-->
        <div>
          <div class="input-wrapper">
            <label>id: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>primaryId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentEntity: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParent: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>baseType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>type: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>name: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>role: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>href: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>schemaLocation: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
        </div>

        <div>
          <h4>Agreement</h4>
        </div>
        <!--agreement-->
        <div>
          <div class="input-wrapper">
            <label>id: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>primaryId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentEntity: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>parentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParent: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>immediateParentId: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>referrencedType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>baseType: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>type: </label>
            <input formControlName="singleUnitQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>name: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>href: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
          <div class="input-wrapper">
            <label>schemaLocation: </label>
            <input formControlName="cartonQuantity" type="text"/>
          </div>
        </div>
        <div
          style="border:1px; border-style:solid; border-spacing: 15px 50px; border-collapse: separate; border-color:#808080; padding: 1em;">
          <div>
            <h4>Credit Profile</h4>
          </div>
          <!--creditProfile-->
          <div>
            <div class="input-wrapper">
              <label>id: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>primaryId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentEntity: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParent: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>creditProfileDate: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>creditScore: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>baseType: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>type: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>creditRiskRating: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>schemaLocation: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div>
              <h6>Valid For</h6>
            </div>
            <!--          validFor-->
            <div class="input-wrapper">
              <label>primaryId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentEntity: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParent: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>startDateTime: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>endDateTime: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
          </div>
        </div>
        <div
          style="border:1px; border-style:solid; border-spacing: 15px 50px; border-collapse: separate; border-color:#808080; padding: 1em;">
          <div>
            <h4>Contact Medium</h4>
          </div>
          <!--contactMedium-->
          <div>
            <div class="input-wrapper">
              <label>id: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>primaryId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentEntity: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParent: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>mediumType: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>preferred: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>baseType: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>referrencedType: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>schemaLocation: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div>
              <h6>Valid For</h6>
            </div>
            <!--          validFor-->
            <div class="input-wrapper">
              <label>primaryId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentEntity: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParent: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>startDateTime: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>endDateTime: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div>
              <h6>Characteristic</h6>
            </div>
            <!--          characteristic-->
            <div class="input-wrapper">
              <label>id: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>primaryId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentEntity: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>parentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParent: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>immediateParentId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>country: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>city: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>contactType: </label>
              <input formControlName="singleUnitQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>socialNetworkId: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>emailAddress: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>phoneNumber: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>stateOrProvince: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>faxNumber: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>postCode: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>street1: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>street2: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>schemaLocation: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>type: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
            <div class="input-wrapper">
              <label>baseType: </label>
              <input formControlName="cartonQuantity" type="text"/>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>

</div>
